appdirs
dotenv
fastapi
google-api-python-client
google-auth-oauthlib
grpcio-status
ics
importlib_metadata
langchain-anthropic
langchain-cohere
langchain-google-genai
langchain-google-vertexai
langchain-milvus
langchain-ollama
langchain-openai
langgraph
langgraph-checkpoint-postgres
pyee
python-multipart
recurring-ical-events
streamlit
uvicorn
